:root {
    --gray: #F4F5F9;
    --blue: #3877EE;
    --blue-second: #5D5FEF;
    --pink: #EF5DA8;
    --blue-dark: #42567A;
    --border-container: rgb(26%, 34%, 48%, 0.1);
    --border-line: #C7CDD9;
    
    --white: #fff;

    --font-family-main: 'PT Sans',"Times New Roman", sans-serif;
    --font-size-xxs: 14px;
    --font-size-xxs2: 16px;
    --font-size-xs: 20px;
    --font-size-s: 25px;
    --font-size-m: 56px;
    --font-size-l: 200px;
    --font-line-l: 160%;
    --font-line-m: 30px;
    --font-weight-l: 700;
    --font-weight-m: 400;

    --container-width: 1440px;  

    --tablet: 1440px;
    --tablet-l: 1280px;
    --mobile: 767px;
    --mobile-s: 320px;
}