.circle {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.block {
    position: relative;
    min-height: 530px;
}

.date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.isMobile {
    &.block {
        display: flex;
        flex-direction: column;
        min-height: 234px;
    }

    .date {
        margin-top: auto;
        margin-bottom: auto;
        position: static;
        transform: unset;
    }
}